# Ignorar arquivos de modelo ONNX
quantized_clip_model.onnx
# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Ambiente
.env
*.env

# Modelos grandes
*.onnx

#tools
tools/check_sizes.py
tools/dump_glb_structure.py
tools/extract_image_from_glb.py
tools/inspect_downloaded.py
tools/test_generate_inspect.py

# Credenciais
cloud-storage-cred.json
models-downloader-cred.json
firebase-cred.json
clip_model.onnx
test_mongo.py

# Build e cache
temp/
*.bak

# Editor
.vscode/
.idea/
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Exceções para VSCode
!.vscode/extensions.json
